GenericInterface/AboutPlugin/bin/
GenericInterface/AboutPlugin/obj/
GenericInterface/Core/bin/
GenericInterface/Core/obj/
GenericInterface/DemoClassifiers/bin/
GenericInterface/DemoClassifiers/obj/
GenericInterface/GenericInterface/bin/
GenericInterface/GenericInterface/obj/
GenericInterface/GenericInterface/Plugins/
GenericInterface/SimpleTesselationClassifier/bin/
GenericInterface/SimpleTesselationClassifier/obj/
GenericInterface/GetLoadedPlugins/bin/
GenericInterface/GetLoadedPlugins/obj/
GenericInterface/Nesting.ClassifierList/bin/
GenericInterface/Nesting.ClassifierList/obj/
GenericInterface/Nesting.WorkingAreaEditor/obj/
GenericInterface/Nesting.WorkingAreaEditor/bin/
GenericInterface/Nesting.Runner/obj/
GenericInterface/Nesting.Runner/bin/
GenericInterface/Nesting.RecursiveTesselationClassifier/obj/
GenericInterface/Nesting.RecursiveTesselationClassifier/bin/
GenericInterface/Nesting.PartEditor/obj/
GenericInterface/Nesting.PartEditor/bin/
GenericInterface/Nesting.Core/obj/
GenericInterface/Nesting.Core/bin/
GenericInterface/Nesting.ConvexHullSymmetryClassifier/obj/
GenericInterface/Nesting.ConvexHullSymmetryClassifier/bin/
GenericInterface/packages/
